.address{
    text-align: center;
    padding: 10px;
    margin: 10px;
    box-shadow: none !important;

    .address-text{
        font-family: 'Big Shoulders Display', sans-serif !important;
        font-weight: bold;
        letter-spacing: 1px;
    }
   
}

.link-btn{
   text-decoration: none;
   margin: auto
}

.book-btn{
    font-size: small;
    width: 2% ;
    margin-bottom: 10px !important;
}

.city{
    margin: 10px !important;
    margin-bottom: 10% !important;
}

.state{
    margin: 10px !important;
    margin-bottom: 10% !important;
}

.all-search{
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
    margin-top: 0%;
    font-size: x-large;
    padding: 5px;

    &:hover{
        cursor: pointer;
        border-bottom: 1px solid black;
        transition-timing-function: ease-in-out;
        transition-duration: 0.5s;
    }
}

.books-header{
    margin-top: 10px !important;
    font-size: x-large !important;
}

.host-bio-box{
    width: 80% !important;
    height: 20vh;
    word-wrap: break-word;
    overflow-y: scroll;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.318);

    .host-bio-text{
        margin: 15px;
        margin-top: 1px;
    }

    .bio-title{
        font-family: 'Big Shoulders Display', sans-serif !important;
        font-weight: bolder;
        margin: 5px;
        text-decoration: 1px underline;
    }
    
}


