.host-profile{
    width: 100% !important;
    margin: auto;
}

.host-nav-container {
    margin-top: 1% !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
    url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.6435-9/46766004_1831968156915636_8738148733654401024_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=rFFuFQuElwIAX_QYO39&_nc_ht=scontent-ort2-2.xx&oh=37fc9053603af0bcb8abf5065e9ec120&oe=61274CE4");
    background-position-y: 65%;
    height: 12vh !important; 
    margin: auto;
}

.host-books-menu{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png") !important;
    overflow-y: scroll;
    height: 55vh !important;    
}

.host-schedule {
    margin: 10px;
    margin-top: 10px !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
        url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.6435-9/46506315_1831967996915652_7706638524212051968_n.jpg?_nc_cat=111&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=0eaIEdmvAAUAX98j-aK&tn=uaM0q8zxAxMMosD-&_nc_ht=scontent-ort2-2.xx&oh=f709b01b63d822d1221d67f267a41656&oe=61282B27");
    background-position-y: 80%;
    background-position-x: 60%;
    height: 15%;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.322);
    
    h4 {
        padding: 2px;
        padding-bottom: 10px;
        text-align: left;
        text-shadow: 2px 5px white;
        letter-spacing: 1px;
        margin-left: 10px;
        margin-top: 10px;
    }
}

.host-bio{
    margin: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)),
        url("https://scontent-ort2-2.xx.fbcdn.net/v/t1.6435-9/46496226_1831968090248976_3158292591816998912_n.jpg?_nc_cat=101&ccb=1-3&_nc_sid=8bfeb9&_nc_ohc=n3duzmXKKPYAX_53LJI&_nc_ht=scontent-ort2-2.xx&oh=a4cb19771ffdaf1932bc3543cfb0d1c0&oe=612987A6");
    background-size: cover;
    background-position-y: 45%;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.322);
    margin-top: 10px !important;
    height: 15%;

    h4 {
        padding: 2px;
        padding-bottom: 10px;
        text-shadow: 2px 5px white;
        letter-spacing: 1px;
        margin-top: 10px;
    }
}
