body {
  height: 100%;
  background-color: #cac6c62c;
  /* background-image: url("https://www.transparenttextures.com/patterns/green-dust-and-scratches.png"); */
  margin: 0;
  /* background-color: rgba(246,246,246, 0.7); */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
