h4 {
    text-align: center;
    font-family: "Big Shoulders Display", sans-serif;
    font-size: xx-large;
    font-weight: bolder !important;
}

.profile {
    content: "";
    z-index: -1;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
        url(https://scontent-ort2-2.xx.fbcdn.net/v/t1.6435-9/78134549_2995907943770120_2505554195294191616_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=730e14&_nc_ohc=gStJVRQAt8QAX9k3YMH&_nc_ht=scontent-ort2-2.xx&oh=e1d4d6221068460fdf176fccbb5e7c22&oe=60FA13CB) !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    width: 100% !important;
    height: 80vh !important;
    margin: auto;
}

.page-nav {
    font-size: larger;
    
    font-family: "Big Shoulders Display" sans-serif !important;

    &:hover {
        cursor: pointer;
        text-decoration: underline;
        letter-spacing: 2px;
        transition: 0.2s ease-in-out;
    }
}

// .about{
//     display: flex;
//     justify-self: center !important;

//     font-size: larger;
//     font-family: "Big Shoulders Display" sans-serif !important;

//     &:hover {
//         cursor: pointer;
//         text-decoration: underline;
//         letter-spacing: 2px;
//         transition: 0.2s ease-in-out;
//     }
// }

 .books-menu {
    background-color: rgba(241, 241, 241, 0.52);
    overflow-y: scroll;
    //width: max-content;
    //align-items: center;
    //justify-content: center;
    height: 88%;
}
